# Stop looking upwards for other settings.
root = true

[*]
# Settings for most files, to be overriden below.
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
spelling_language = pt-BR
max_line_length = 100

[*.{py,sh,zsh,bash}]
indent_size = 4
max_line_length = 80

[Makefile]
# Example of a different indent.
indent_style = tab
# Not implemented in Sublime (always 1).
tab_width = 1

[*.{fs,fsi,fsx,elm}]
indent_size = 4

[*.{clj,cljs,cljc}]
# Let auto-formatters figure out.
indent_size = unset
max_line_length = unset

[*.{md,markdown,adoc,asciidoc,txt}]
# No hard wrap, please.
max_line_length = unset

