# Stop looking upwards for other `.editorconfig` files.
root = true

[*]
# Settings for most files, to be overriden below.
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
spelling_language = pt-BR
max_line_length = 120

[Makefile]
# Example of a different indent.
indent_style = tab
# Not implemented in Sublime (always 1).
tab_width = 1

[*.{py,sh,zsh,bash}]
indent_size = 4
max_line_length = 80

[dev]
# I frequently use a `dev` script (shell) to run project commands.
indent_size = 4

[*.{fs,fsi,fsx,elm}]
# F# configs.
indent_size = 4

