*.png filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text

# Ignore these, as they are not really code code.
apps/** linguist-vendored
archives/** linguist-generated
docs/** linguist-vendored
sublime-text/** linguist-vendored
vim/** linguist-vendored
vscode/** linguist-vendored
windows/** linguist-vendored
**/*.json linguist-vendored
.rc* linguist-vendored
bun.lockb linguist-generated
.tmux.conf linguist-vendored
.npmrc linguist-vendored
.gitconfig linguist-vendored
.XCompose linguist-vendored

