# Load relevant config.

# Load in this order, so that the next one can override the previous. And if it
# doesn't exist, it is ignored.
[include]
    path = .gitconfig.local.gitconfig
    path = .gitconfig.override.gitconfig
