[Desktop Entry]
Name=Texts
GenericName=Internet Messenger
Comment=All of your messages in one inbox
Exec=texts
Icon=texts
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=texts
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/texts;



# TODO: figure out what these do.


# I think it adds this entry to the "chat" category in the menu.
X-MessagingMenu-UsesChatSection=true

# Seems to be related to translations, so for now I'll leave it commented.
# Copied from pidgin, who had 'pidgin' in here.
# X-Ubuntu-Gettext-Domain=texts

