#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Name=Obsidian
Comment=Markdown Notetaking App
GenericName=Text Editor
Type=Application
Exec=/home/marcelocra/bin/obsidian %U
Icon=obsidian
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
