root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
spelling_languages = en-US,en,pt-BR,pt
max_line_length = 120

[*.{gitconfig,tmux.conf,py,sh,zsh,bash}]
indent_size = 4
max_line_length = 80

[*.{lua,toml,yaml,yml,json,jsonc,json5}]
indent_size = 2
max_line_length = 80
