;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{;; Paths
 ;;   Directories in the current project to include in the classpath

 ;; :paths ["src"]

 ;; External dependencies
 ;;
 ;;  - formatting: {dev.weavejester/cljfmt {:mvn/version "0.11.2"}}

 ;; :deps {
 ;;   org.clojure/clojure {:mvn/version "1.10.1"}
 ;; }

 ;; Aliases
 ;;   resolve-deps aliases (-R) affect dependency resolution, options:
 ;;     :extra-deps - specifies extra deps to add to :deps
 ;;     :override-deps - specifies a coordinate to use instead of that in :deps
 ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
 ;;   make-classpath aliases (-C) affect the classpath generation, options:
 ;;     :extra-paths - vector of additional paths to add to the classpath
 ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

 ;; :aliases {
 ;;   :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.8.709"}}}
 ;;   :test {:extra-paths ["test"]}
 ;; }
 :aliases
 {:fmt 
  {:deps {dev.weavejester/cljfmt {:mvn/version "0.12.0"}}
   :ns-default cljfmt.tool}

  ;; See https://github.com/bhauman/rebel-readline
  ;; Start a Rebel Readline REPL.
  :rebel
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
   :main-opts  ["-m" "rebel-readline.main"]}

  ;; See https://nrepl.org/
  ;; Start a basic nREPL server on a random available port.
  :nrepl 
  {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
   :main-opts ["-m" "nrepl.cmdline"]}

  ;; See https://nrepl.org/
  ;; Start a CIDER-enhanced nREPL server on a random available port.
  :cider-nrepl 
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.42.1"}}
   :main-opts ["--main" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"
                "--interactive"]}


  ;; Extra deps ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ;; See https://developers.google.com/tink
  :tink
  {:extra-deps {com.google.crypto.tink/tink {:mvn/version "1.12.0"}}}
  
  ;; See https://github.com/djblue/portal
  :portal
  {:extra-deps {djblue/portal {:mvn/version "RELEASE"}}}

  ;; See https://github.com/stuarthalloway/reflector
  :reflect
  {:extra-deps {io.github.stuarthalloway/reflector
                {:git/url "https://github.com/stuarthalloway/reflector"
                 :sha "93a0c19b4526c1180959e940202928d35e5c3cef"}}}


  ;; Prevents auto-formatter from wrapping.
  }

;; Provider attributes

 ;; :mvn/repos {
 ;;   "central" {:url "https://repo1.maven.org/maven2/"}
 ;;   "clojars" {:url "https://repo.clojars.org/"}
 ;; }
 }
