[Desktop Entry]
Name=Logseq
Comment=Markdown Notetaking App
GenericName=Text Editor
Type=Application
Exec=Logseq-latest %U
Icon=logseq
StartupWMClass=logseq
MimeType=x-scheme-handler/logseq;
