[Desktop Entry]
Name=Todoist
Comment=To do App
GenericName=Text Editor
Type=Application
Exec=Todoist-latest %U
Icon=todoist
StartupWMClass=todoist
MimeType=x-scheme-handler/todoist;x-scheme-handler/com.todoist
